<a href="https://colab.research.google.com/github/JYRUS19/20220702-Python/blob/main/20220820.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

## 產生隨機資料

In [2]:
data = np.random.randint(30, 101, (10, 4))

## 轉換成 float

In [3]:
data = data.astype(float)

In [4]:
for i in range(5):
  x = np.random.randint(0, 10)
  y = np.random.randint(0, 4)
  data[x, y] = np.NaN

In [5]:
data

array([[ 43.,  96.,  87.,  86.],
       [ 84.,  46.,  89.,  74.],
       [ 97.,  nan,  50.,  71.],
       [ 77.,  nan,  97.,  94.],
       [ 53.,  80.,  83.,  93.],
       [ 71.,  89.,  91.,  nan],
       [ 48.,  nan,  55.,  86.],
       [ 35.,  83.,  82.,  nan],
       [ 99.,  93.,  35.,  31.],
       [ 99.,  99.,  95., 100.]])

## 轉換成 DataFrame

In [6]:
df = pd.DataFrame(data)

In [7]:
df

      0     1     2      3
0  43.0  96.0  87.0   86.0
1  84.0  46.0  89.0   74.0
2  97.0   NaN  50.0   71.0
3  77.0   NaN  97.0   94.0
4  53.0  80.0  83.0   93.0
5  71.0  89.0  91.0    NaN
6  48.0   NaN  55.0   86.0
7  35.0  83.0  82.0    NaN
8  99.0  93.0  35.0   31.0
9  99.0  99.0  95.0  100.0

In [8]:
df.columns = ['國文','英文','數學','理化']

In [9]:
df

     國文    英文    數學     理化
0  43.0  96.0  87.0   86.0
1  84.0  46.0  89.0   74.0
2  97.0   NaN  50.0   71.0
3  77.0   NaN  97.0   94.0
4  53.0  80.0  83.0   93.0
5  71.0  89.0  91.0    NaN
6  48.0   NaN  55.0   86.0
7  35.0  83.0  82.0    NaN
8  99.0  93.0  35.0   31.0
9  99.0  99.0  95.0  100.0

In [10]:
df.index = ["林怡婷","趙必桂","錢詩婷","鄭泰州","陳祐侑","林惠貴","藍以舜","韓清勇","黃子喬","張揚芃"]

In [11]:
df

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0   NaN  50.0   71.0
鄭泰州  77.0   NaN  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0    NaN
藍以舜  48.0   NaN  55.0   86.0
韓清勇  35.0  83.0  82.0    NaN
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 林怡婷 to 張揚芃
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      10 non-null     float64
 1   英文      7 non-null      float64
 2   數學      10 non-null     float64
 3   理化      8 non-null      float64
dtypes: float64(4)
memory usage: 400.0+ bytes

In [13]:
df.dropna()

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
陳祐侑  53.0  80.0  83.0   93.0
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [14]:
df.dropna(subset=['國文'])

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0   NaN  50.0   71.0
鄭泰州  77.0   NaN  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0    NaN
藍以舜  48.0   NaN  55.0   86.0
韓清勇  35.0  83.0  82.0    NaN
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [15]:
df['國文'].notnull()

林怡婷    True
趙必桂    True
錢詩婷    True
鄭泰州    True
陳祐侑    True
林惠貴    True
藍以舜    True
韓清勇    True
黃子喬    True
張揚芃    True
Name: 國文, dtype: bool

In [16]:
df[df['國文'].notnull()]

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0   NaN  50.0   71.0
鄭泰州  77.0   NaN  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0    NaN
藍以舜  48.0   NaN  55.0   86.0
韓清勇  35.0  83.0  82.0    NaN
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [17]:
df.dropna(axis=1)

       國文    數學
林怡婷  43.0  87.0
趙必桂  84.0  89.0
錢詩婷  97.0  50.0
鄭泰州  77.0  97.0
陳祐侑  53.0  83.0
林惠貴  71.0  91.0
藍以舜  48.0  55.0
韓清勇  35.0  82.0
黃子喬  99.0  35.0
張揚芃  99.0  95.0

## 填補缺失值

* fillna()

In [18]:
df['國文'].fillna(value=df['國文'].mean())

林怡婷    43.0
趙必桂    84.0
錢詩婷    97.0
鄭泰州    77.0
陳祐侑    53.0
林惠貴    71.0
藍以舜    48.0
韓清勇    35.0
黃子喬    99.0
張揚芃    99.0
Name: 國文, dtype: float64

In [19]:
df

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0   NaN  50.0   71.0
鄭泰州  77.0   NaN  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0    NaN
藍以舜  48.0   NaN  55.0   86.0
韓清勇  35.0  83.0  82.0    NaN
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [20]:
df.fillna(method='backfill')

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0  80.0  50.0   71.0
鄭泰州  77.0  80.0  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0   86.0
藍以舜  48.0  83.0  55.0   86.0
韓清勇  35.0  83.0  82.0   31.0
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

## 簡單資料分析

In [21]:
df = df.fillna(method='backfill')

In [30]:
df

       國文    英文    數學     理化
林怡婷  43.0  96.0  87.0   86.0
趙必桂  84.0  46.0  89.0   74.0
錢詩婷  97.0  80.0  50.0   71.0
鄭泰州  77.0  80.0  97.0   94.0
陳祐侑  53.0  80.0  83.0   93.0
林惠貴  71.0  89.0  91.0   86.0
藍以舜  48.0  83.0  55.0   86.0
韓清勇  35.0  83.0  82.0   31.0
黃子喬  99.0  93.0  35.0   31.0
張揚芃  99.0  99.0  95.0  100.0

In [37]:
df['國文'] < 60

林怡婷     True
趙必桂    False
錢詩婷    False
鄭泰州    False
陳祐侑     True
林惠貴    False
藍以舜     True
韓清勇     True
黃子喬    False
張揚芃    False
Name: 國文, dtype: bool

In [38]:
df[df['國文'] < 60]

       國文    英文    數學    理化
林怡婷  43.0  96.0  87.0  86.0
陳祐侑  53.0  80.0  83.0  93.0
藍以舜  48.0  83.0  55.0  86.0
韓清勇  35.0  83.0  82.0  31.0

In [41]:
df[(df['國文'] < 60) & (df['英文'] < 60)]

Empty DataFrame
Columns: [國文, 英文, 數學, 理化]
Index: []

## GroupBy

In [42]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [43]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [44]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [45]:
df.groupby(['Animal']).count()

        Max Speed
Animal
Falcon          2
Parrot          2

In [46]:
df.groupby(['Animal']).sum()

        Max Speed
Animal
Falcon      750.0
Parrot       50.0

In [49]:
groups = df.groupby(['Animal'])

In [50]:
groups.get_group('Falcon')

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0

In [51]:
groups.mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0